<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationInterviewsForm.js"></script>

    <div class="line"></div>

    <div style="display: none">
        <span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
        <span id="errorMessage-length-10-120"><%= __('validationMessage.numberOfCharactersRequired',{from:10,to:120}) %></span>
        <span id="errorMessage-recruitmentStageRange"><%= __('validationMessage.incorrectRange',{from:1,to:3}) %></span>
        <span id="errorMessage-invalidDateFormat"><%= __('validationMessage.invalidDateFormat') %></span>
        <span id="errorMessage-invalidDate"><%= __('validationMessage.invalidDate') %></span>
        <span id="errorMessage-noPlaceRequired"><%= __('validationMessage.noPlaceRequired') %></span>
        <span id="errorMessage-summary"><%= __('validationMessage.errorsSummary') %></span>
    </div>

    <div class="interview-from-background">
        <div class="interview-add-container">
            <h2><%= pageTitle %></h2>
            <form class="form-add" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
                <input type="hidden" name="_id" value="<%= interview._id %>">

                <div>
                <label for="candidate"><%= __('ivw.fields.candidate') %>:<abbr title="required" aria-label="required">*</abbr></label>
                <% if (locals.validationErrors) { %>
                    <select id="candidate" name="candidate_id"
                            class="<%= validationErrors.find(e => e.path.includes('candidate_id')) ? 'error-input' : '' %>">
                        <option value="" selected><%= __('ivw.form.selectCandidate.label') %></option>
                        <% for (let i=0; i<allCands.length; i++) { let cnd = allCands[i]; %>
                        <option value="<%= cnd._id %>" label="<%= cnd.firstName + ' ' + cnd.lastName %>"
                                <%= (cnd._id.toString() == interview.candidate_id.toString()) ? 'selected' : ''%>></option>
                        <% } %>
                    </select>
                <% } else{ %>
                    <select id="candidate" name="candidate_id" >
                        <option value="" selected><%= __('ivw.form.selectCandidate.label') %></option>
                        <% for (let i=0; i<allCands.length; i++) {let cnd = allCands[i]; %>
                        <option value="<%= cnd._id %>" label="<%= cnd.firstName + ' ' + cnd.lastName %>"></option>
                        <% } %>
                    </select>
                <% } %>
                <span id="errorCandidate" class="errors-text">
                    <% if (locals.validationErrors) { %>
                        <% if (validationErrors.find(e => e.path.includes('candidate_id'))) { %>
                            <%= __(validationErrors.find(e => e.path.includes('candidate_id')).message) %>
                    <% } } %>
                </span>
                </div>

                <div>
                <label for="hrmanager"><%= __('ivw.fields.hrManager') %>:<abbr title="required" aria-label="required">*</abbr></label>
                <% if (locals.validationErrors) { %>
                    <select id="hrmanager" name="hrManager_id"
                            class="<%= validationErrors.find(e => e.path.includes('hrManager_id')) ? 'error-input' : '' %>">
                        <option value="" selected><%= __('ivw.form.selectHrManager.label') %></option>
                        <% for (let i=0; i<allHrMans.length; i++) { let hr = allHrMans[i]; %>
                        <option value="<%= hr._id %>" label="<%= hr.firstName + ' ' + hr.lastName %>"
                                <%= (hr._id.toString() == interview.hrManager_id.toString()) ? 'selected' : ''%>></option>
                        <% } %>
                    </select>
                <% } else{ %>
                    <select id="hrmanager" name="hrManager_id" >
                        <option value="" selected><%= __('ivw.form.selectHrManager.label') %></option>
                        <% for (let i=0; i<allHrMans.length; i++) {let hr = allHrMans[i]; %>
                        <option value="<%= hr._id %>" label="<%= hr.firstName + ' ' + hr.lastName %>"></option>
                        <% } %>
                    </select>
                <% } %>
                <span id="errorHrManager" class="errors-text">
                    <% if (locals.validationErrors) { %>
                        <% if (validationErrors.find(e => e.path.includes('hrManager_id'))) { %>
                            <%= __(validationErrors.find(e => e.path.includes('hrManager_id')).message) %>
                    <% } } %>
                </span>
                </div>

                <div>
                <label for="date"><%= __('ivw.fields.date') %>:<abbr title="required" aria-label="required">*</abbr></label>
                <% if (locals.validationErrors) { %>
                    <input type="date" name="date" id="date" value="<%= interview.date==''?'':new Date(interview.date).toISOString().split('T')[0] %>"
                           class="<%= validationErrors.find(e => e.path.includes('date')) ? 'error-input' : '' %>"/>
                <% } else{ %>
                    <input type="date" name="date" id="date"/>
                <% } %>
                <span id="errorDate" class="errors-text">
                    <% if (locals.validationErrors) { %>
                        <% if (validationErrors.find(e => e.path.includes('date'))) { %>
                            <%= __(validationErrors.find(e => e.path.includes('date')).message) %>
                    <% } } %>
                </span>
                </div>

                <div>
                <label for="isOnline"><%= __('ivw.fields.isOnline') %>:<abbr title="required" aria-label="required">*</abbr></label>
                <% if (locals.validationErrors) { %>
                    <select id="isOnline" name="isOnline" value="<%= interview.isOnline ? 'Tak':'Nie' %>"
                            class="<%= validationErrors.find(e => e.path.includes('isOnline')) ? 'error-input' : '' %>">
                        <option value="true"><%= __('ivw.isOnline.yes') %></option>
                        <option value="false"><%= __('ivw.isOnline.no') %></option>
                    </select>
                <% } else{ %>
                    <select id="isOnline" name="isOnline" >
                        <option value="true"><%= __('ivw.isOnline.yes') %></option>
                        <option value="false"><%= __('ivw.isOnline.no') %></option>
                    </select>
                <% } %>
                <span id="errorIsOnline" class="errors-text">
                    <% if (locals.validationErrors) { %>
                        <% if (validationErrors.find(e => e.path.includes('isOnline'))) { %>
                            <%= __(validationErrors.find(e => e.path.includes('isOnline')).message) %>
                    <% } } %>
                </span>
                </div>

                <div>
                <label for="place"><%= __('ivw.fields.place') %>:<abbr title="required" aria-label="required">*</abbr></label>
                <% if (locals.validationErrors) { %>
                    <input type="text" name="place" id="place" label="<%= interview.isOnline ? '-':interview.place %>"
                           class="<%= validationErrors.find(e => e.path.includes('place')) ? 'error-input' : '' %>"/>
                <% } else{ %>
                    <input type="text" name="place" id="place"/>
                <% } %>
                <span id="errorPlace" class="errors-text">
                    <% if (locals.validationErrors) { %>
                        <% if (validationErrors.find(e => e.path.includes('place'))) { %>
                            <%= __(validationErrors.find(e => e.path.includes('place')).message )%>
                    <% } } %>
                </span>
                </div>

                <div>
                <label for="recruitmentStage"><%= __('ivw.fields.recruitmentStage') %>:<abbr title="required" aria-label="required">*</abbr></label>
                <% if (locals.validationErrors) { %>
                    <input type="text" name="recruitmentStage" id="recruitmentStage" placeholder="1-3" value="<%= interview.recruitmentStage %>"
                           class="<%= validationErrors.find(e => e.path.includes('recruitmentStage')) ? 'error-input' : '' %>"/>
                <% } else{ %>
                    <input type="text" name="recruitmentStage" id="recruitmentStage" placeholder="1-3" >
                <% } %>
                <span id="errorRecruitmentStage" class="errors-text">
                    <% if (locals.validationErrors) { %>
                        <% if (validationErrors.find(e => e.path.includes('recruitmentStage'))) { %>
                            <%= __(validationErrors.find(e => e.path.includes('recruitmentStage')).message,{from:1,to:3}) %>
                    <% } } %>
                </span>
                </div>

                <div id="form-buttons-container">
                    <p id="errorsSummary"></p>
                    <input type="submit" value="<%= btnLabel %>" class="form-buttons"/>
                    <a class="form-buttons" href="/interviews"><%= __('form.actions.cancel') %></a>
                </div>
            </form>
        </div>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>

</body>

</html>
